<div class="Nav">
  <div>
    <a routerLink="/" style="color: #000000" >LTAS</a>
  </div>
  <div>
    <div>
      <a mat-button color="primary"
         [routerLink]="studentService.loginStudent?'/student':'/student/login'">Student</a></div>

    <div><a mat-button color="primary" routerLink="/teacher-login">Teacher</a>
    </div>

    <div><a mat-button color="primary"
            routerLink="/manager">Manager</a></div>
  </div>
</div>
