.Nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em 0;box-shadow:0px 1px 5px #D1D1D1;
  padding: 0.5em 0;
  background-color: #ffffff;

  > div:nth-child(1) {
    font-size: 2em;
  }

  > div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
