.Index{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .AppName{
    margin: 4em auto 1em;
    span{
      font-size: 1.6em;
    }
  }

  .SelectRemind{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .Option{
    margin-bottom: 1em;
    //background-color: #F4F4F4;
  }
}
