.StudentReg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .LoginText {
    margin: 4em auto 1em;

    span {
      font-size: 1.6em;
    }
  }

  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
}
