<div class="AddActivity">
  <div>
    <div class="Info">
      <span>Add Activity</span>
      <button mat-button style="font-size: 1rem;" (click)="location.back()">Back</button>
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <mat-form-field class="full-width">
        <input formControlName="name" matInput placeholder="name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea rows="3" formControlName="description" matInput placeholder="description"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="location" matInput placeholder="location">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="period" placeholder="period" matInput type="datetime-local">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="datetime" placeholder="datetime" matInput type="datetime-local">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Teacher</mat-label>
        <select matNativeControl required formControlName="teacherId">
          <option *ngFor="let t of teacherService.teachers" [value]="t.id">{{t.name}}(id: {{t.id}})</option>
        </select>
      </mat-form-field>
      <button mat-flat-button color="primary">Add</button>
    </form>
  </div>
</div>
