.TeacherLogin {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    min-width: 500px;
    max-width: 500px;
    margin-bottom: 1em;
  }

  .AppName {
    margin: 0 auto 1em;

    span {
      font-size: 1.6em;
    }
  }

  .SelectRemind {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .Option {
    margin-bottom: 1em;
    //background-color: #F4F4F4;
  }
}
