<div class="StudentActivityConfirmed">
  <div>
    <app-nav></app-nav>
    <div class="Info">
      <span>{{studentService.loginStudent.name}} {{studentService.loginStudent.surname}}</span>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <a routerLink="/student/activity/all" mat-menu-item>All Activities</a>
          <a routerLink="/student/activity/enrolled" mat-menu-item>Enrolled Activities</a>
          <button mat-menu-item (click)="location.back()">Back</button>
          <a mat-menu-item routerLink="/">Back to home</a>
        </mat-menu>
      </div>
    </div>
    <mat-card>
      <mat-card-title style="text-align: center">CONFIRMED ACTIVITIES</mat-card-title>
      <mat-card-content>
        <div style="width: 100%; margin-top: 1em; display: flex; flex-direction: row; justify-content: space-evenly ">
          <mat-form-field style="width: 33%;">
            <input matInput placeholder="filter by name" [value]="filter" (input)="onInputFilter($event.target.value)">
          </mat-form-field>
          <mat-form-field style="width: 33%;">
            <input matInput [matDatepicker]="begin" placeholder="begin time" [value]="beginTime"
                   (input)="onInputBeginTime($event.target.value)"
                   (dateChange)="onInputBeginTime($event.target.value.toString())">
            <mat-datepicker-toggle matSuffix [for]="begin"></mat-datepicker-toggle>
            <mat-datepicker #begin></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="width: 33%;">
            <input matInput [matDatepicker]="end" placeholder="end time" [value]="endTime"
                   (input)="onInputEndTime($event.target.value)"
                   (dateChange)="onInputEndTime($event.target.value.toString())">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-expansion-panel *ngFor="let activity of activities"
                             class="Option">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{activity.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{activity.datetime}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p><b>Description: </b>{{activity.description}}</p>
          <p><b>Location: </b>{{activity.location}}</p>
          <p><b>Registration Period: </b>{{activity.period}}</p>
          <p><b>Activity Time: </b>{{activity.datetime}}</p>
          <p><b>Teacher: </b>{{teacherService.findTeacherById(activity.teacherId)!.name}}</p>
          <br/>
          <p><b>Status: {{activityService.getStatus(studentService.loginStudent.id, activity.id)}}</b></p>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>
