<div class="Teacher">
  <div *ngIf="teacherService.currentTeacher">
    <app-nav></app-nav>
    <div class="Info">
      <span> {{ teacher.name }}</span>
      <a routerLink="/">Back to home</a>
    </div>
    <mat-card>
      <mat-card-title>
        My activities
      </mat-card-title>
      <mat-card-content>
        <mat-expansion-panel *ngFor="let activity of activities" class="Option">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ activity.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ activity.datetime }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p><b>Description: </b>{{ activity.description }}</p>
          <p><b>Location: </b>{{ activity.location }}</p>
          <p><b>Registration Period: </b>{{ activity.period }}</p>
          <p><b>Activity Time: </b>{{ activity.datetime }}</p>
          <br/>
          <div style="width: 100%">
            <h3 mat-subheader>Students</h3>
            <div
              *ngFor="let s of activityIdToStudents.get(activity.id)"
            >
              <div style="display: flex;flex-direction: row;justify-content: space-between">
                <span>{{s!.name}} {{s!.surname}}</span>
                <section>
                  <mat-slide-toggle
                    [checked]="s.state==='confirm'"
                    (change)="activityService.confirmOrPending(activity.id, teacher.id, s!.id); s.state = s.state==='pending'?'confirm':'pending'"
                  >
                    {{s.state}}
                  </mat-slide-toggle>
                </section>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>
